<html xmlns:th="http://www.thymeleaf.org" dir="ltr" lang="vi">
<head>
    <title>XỔ SỐ VIỆT NAM - Trực Tiếp Kết Quả Xổ Số MINH NGỌC</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-87812633-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script>
        function alert_ie() {
            var e = document.createElement("DIV");
            e.id = "alert_ie", e.style.background = "#2586ec", e.style.position = "relative", e.style.boxSizing = "border-box", e.style.padding = "0 20px 0 5px", e.style.minWidth = "1040px", e.style.lineHeight = "30px";
            var t = document.createElement("a");
            t.href = "https://www.google.com/chrome/browser/desktop/index.html?hl=vi", t.target = "_blank", t.style.color = "#fff", t.style.fontSize = "16px";
            var r = document.createTextNode("Bạn đang sử dụng trình duyệt IE   lỗi thời. Download trình duyệt Google Chrome để xem trực tiếp nhanh nhất, in vé dò và sử dụng đầy đủ tính năng của Xổ Số Minh Ngọc.Bấm vào đây để tải Google Chrome");
            t.appendChild(r);
            var o = document.createElement("button");
            o.setAttribute("onclick", "alert_ie_remove()"), o.style.borderRadius = "50%", o.style.background = "#fff", o.style.right = "10px", o.style.top = "50%", o.style.marginTop = "-9px", o.style.position = "absolute", o.style.border = "none", o.style.height = "18px", o.style.width = "18px", o.style.lineHeight = "18px", o.style.padding = "0", o.style["float"] = "right", o.style.cursor = "pointer", o.innerHTML = "x", e.appendChild(t), e.appendChild(o), document.body.insertBefore(e, document.body.firstChild)
        }

        function alert_ie_remove() {
            localStorage.setItem("check_alert_ie", JSON.stringify({
                enable: !0,
                timeclose: Date.now()
            })), document.getElementById("alert_ie").remove()
        }

        var check_alert_ies = !0;
        if (localStorage.check_alert_ie && (check_alert_ie = JSON.parse(localStorage.check_alert_ie), check_alert_ies = Date.now() - check_alert_ie.timeclose > 24e3 ? !0 : !1), Element.prototype.remove = function () {
            this.parentElement.removeChild(this)
        }, NodeList.prototype.remove = HTMLCollection.prototype.remove = function () {
            for (var e = this.length - 1; e >= 0; e--) this[e] && this[e].parentElement && this[e].parentElement.removeChild(this[e])
        }, check_alert_ies && (/MSIE/i.test(navigator.userAgent) || /Trident/i.test(navigator.userAgent) || /Edge\/\d./i.test(navigator.userAgent))) var jquery_interval = setInterval(function () {
            window.jQuery && (clearInterval(jquery_interval), alert_ie())
        }, 1e3);</script>
    <script type="text/javascript">
        var maxday = 20221128;

        function isIE() {
            var e = navigator.userAgent.toLowerCase();
            return -1 != e.indexOf("msie") ? parseInt(e.split("msie")[1]) : !1
        }

        function loadScript(e, t) {
            if (check_load_jquery_source) {
                if (t && "function" == typeof t) try {
                    t()
                } catch (o) {
                }
            } else {
                setTimeout(function () {
                    loadScript(e, t)
                }, 1e3)
            }
        }

        function loadjs() {
            loadScripts1(jquery_source, function () {
                loadScriptother(jquery_source, function () {
                }), loadScriptother(jquery_sources, function () {
                    check_load_jquery_source = !0
                })
            })
        }

        function loadScripts(e, t) {
            var o = document.createElement("script");
            o.type = "text/javascript", o.async = !0, o.readyState ? o.onreadystatechange = function () {
                ("loaded" == o.readyState || "complete" == o.readyState) && (o.onreadystatechange = null, t && "function" == typeof t && t())
            } : o.onload = function () {
                t && "function" == typeof t && t()
            }, o.src = e, (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(o)
        }

        function loadScripts1(e, t) {
            var o = document.createElement("script");
            o.src = e, o.type = "text/javascript", o.async = "true", o.onload = o.onreadystatechange = function () {
                var e = this.readyState;
                if (!e || "complete" == e || "loaded" == e) try {
                    t && "function" == typeof t && t()
                } catch (o) {
                }
            }, (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(o)
        }

        function loadScriptssss(e, t) {
        }

        function loadScriptsss(e, t) {
            if (check_load_jquery_source) t && "function" == typeof t && t(); else {
                var o = document.createElement("script");
                o.type = "text/javascript", o.async = !0, o.readyState ? o.onreadystatechange = function () {
                    ("loaded" == o.readyState || "complete" == o.readyState) && (o.onreadystatechange = null, t && "function" == typeof t && t())
                } : o.onload = function () {
                    alert("ok1"), t && "function" == typeof t && t()
                }, o.src = e, (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(o)
            }
        }

        function loadScriptother(e, t) {
            var o = document.createElement("script");
            o.type = "text/javascript", o.async = !0, o.readyState ? o.onreadystatechange = function () {
                if ("loaded" == o.readyState || "complete" == o.readyState) {
                    o.onreadystatechange = null;
                    try {
                        t && "function" == typeof t && t()
                    } catch (e) {
                    }
                }
            } : o.onload = function () {
                try {
                    t && "function" == typeof t && t()
                } catch (e) {
                }
            }, o.src = e, (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(o)
        }

        !function (e) {
            "use strict";
            var t = function (t, o, n) {
                function a(e) {
                    return s.body ? e() : void setTimeout(function () {
                        a(e)
                    })
                }

                var c, r, i, d, s = e.document, u = s.createElement("link"), l = n || "all";
                return o ? c = o : (r = (s.body || s.getElementsByTagName("head")[0]).childNodes, c = r[r.length - 1]), i = s.styleSheets, u.rel = "stylesheet", u.href = t, u.media = "only x", a(function () {
                    c.parentNode.insertBefore(u, o ? c : c.nextSibling)
                }), d = function (e) {
                    for (var t = u.href, o = i.length; o--;) if (i[o].href === t) return e();
                    setTimeout(function () {
                        d(e)
                    })
                }, u.addEventListener && u.addEventListener("load", function () {
                    this.media = l
                }), u.onloadcssdefined = d, d(function () {
                    u.media !== l && (u.media = l)
                }), u
            };
            "undefined" != typeof exports ? exports.loadCSS = t : e.loadCSS = t
        }("undefined" != typeof global ? global : this);
        var SelectedDomain = "", SelectedDomain_JS = "", SelectedDomain_CSS = "", SelectedDomain_IMG = "",
            SelectedDomain_UPLOAD = "";
        if (loadCSS("/template/2016/include.php_out.css"), isIE() && isIE() < 10) var jquery_sources = "/jquery/include_ie.js",
            jquery_source = "/jquery/jquery-1.12.4.js"; else var jquery_sources = "/jquery/include_4.js",
            jquery_source = "/jquery/jquery-3.2.1.js";
        var check_load_jquery_source = !1, type_loadscript = !0, $;
        loadjs(), loadScript(jquery_source, function () {
            $("link").error(function (e) {
                console.log("Load file Error:" + $(this).attr("href")), $(this).attr("href", $(this).attr("href").replace(SelectedDomain, ""))
            }), $("script").error(function (e) {
                console.log("Load file Error:" + $(this).attr("src")), $(this).attr("src", $(this).attr("src").replace(SelectedDomain, ""))
            })
        });
    </script>
</head>
<body class="pagebody">
<div id="dnw-page">
    <div id="dnw-main">
        <center>
            <div class="dnw-sheet">
                <div class="dnw-sheet-body">
                    <div th:replace="fragments/header :: header"/>
                    <div th:replace="fragments/menu :: menu"/>
                    <div class="dnw-content-layout">
                        <div class="dnw-content-main" id="dnw-content-main">
                            <div class="dnw-content-main-l">
                                <div class="dnw-content-main-r">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="left">
                                                <div id="dnw-left">
                                                    <div>
                                                        <div>
                                                            <table width="100%" border="0" cellspacing="0"
                                                                   cellpadding="0">
                                                                <tr>
                                                                    <td align="center" valign="top">
                                                                        <form style="padding:0;margin:0 0 5px 0"
                                                                              name="findDayright" action="">
                                                                            <input type="hidden" name="day" id="day"/>
                                                                            <div id="cont"></div>
                                                                        </form>
                                                                        <script type="text/javascript">
                                                                            loadScript(jquery_source, function () {
                                                                                jQuery.noConflict();
                                                                                var LEFT_CAL = Calendarc.setup({
                                                                                    cont: "cont",
                                                                                    weekNumbers: false,
                                                                                    selectionType: Calendarc.SEL_SINGLE,
                                                                                    showTime: 12,
                                                                                    onSelect: updateFieldsMien
                                                                                    // titleFormat: "%B %Y"
                                                                                });
                                                                            });

                                                                            function updateFieldsMien(cal) {
                                                                                var date = cal.selection.get();

                                                                                if (date) {
                                                                                    date = Calendarc.intToDate(date);
                                                                                    var f_date = Calendarc.printDate(date, "%d-%m-%Y");
                                                                                    var findday = document.findDayright;

                                                                                    findday.day.value = f_date;
                                                                                    findday.submit();
                                                                                    window.location.href = '/ket-qua-xo-so/' + f_date + '.html';
                                                                                }

                                                                            };

                                                                        </script>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <div class="clear"></div>
                                                        </div>
                                                        <div>
                                                            <div class="clear"></div>
                                                        </div>
                                                        <div>
                                                            <div class="modulesLR moduleBrown">
                                                                <div class="title-l">
                                                                    <div class="title-r"><h1>Kết quả xổ số Miền Nam</h1>
                                                                    </div>
                                                                </div>
                                                                <div class="body-l">
                                                                    <div class="body-r">
                                                                        <ul class="menu">
                                                                            <li th:each="item : ${cityNam}">
                                                                                <a th:href="'/ket-qua-xo-so?cityId=' + ${item.citySk}"><span
                                                                                        class="icon "
                                                                                        th:text="'Kết quả xổ số ' + ${item.cityName}"></span></a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                        <div>
                                                            <div class="modulesLR moduleBrown">
                                                                <div class="title-l">
                                                                    <div class="title-r"><h1>Kết quả xổ số Miền Bắc</h1>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                        <div>
                                                            <div class="modulesLR moduleBrown">
                                                                <div class="title-l">
                                                                    <div class="title-r"><h1>Kết quả xổ số Miền
                                                                        Trung</h1></div>
                                                                </div>
                                                                <div class="body-l">
                                                                    <div class="body-r">
                                                                        <ul class="menu">
                                                                            <li th:each="item : ${cityTrung}">
                                                                                <a href="/ket-qua-xo-so/mien-trung/binh-dinh.html"><span
                                                                                        th:text="'Kết quả xổ số ' + ${item.cityName}"
                                                                                        class="icon "></span></a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                </div>
                                <script language="javascript">
                                    function sroolleft() {
                                        if ($("#dnw-content-main").height() > ($("#dnw-left").height())) {
                                            $("#parent_left").show();
                                        }
                                        var stop = $(this).scrollTop();
                                        var padd = $(this).scrollTop() - $("#sidebarleft").offset().top + 10;
                                        var he = $("#sidebarleft").height();
                                        var limit = $("#parent_left").height();
                                        $("#parent_left").height($("#dnw-content-main").height() - $("#dnw-left").height());
                                        if (padd >= 0) {
                                            if (he + padd <= limit) {
                                                $("#sidebarleft").stop().animate({"padding-top": padd}, 500);
                                            } else {
                                                $("#sidebarleft").stop().animate({"padding-top": limit - he}, 500);
                                            }
                                        } else {
                                            $("#sidebarleft").stop().animate({"padding-top": 0}, 500);
                                        }
                                    }

                                    loadScript(jquery_source, function () {
                                        $("#parent_left").hide();
                                        $(window).scroll(function () {
                                            sroolleft();
                                        });
                                        $(document).ready(function (e) {
                                            sroolleft();
                                        });
                                    });
                                </script>
                                </td>
                                            <td>
                                                <div id="right_main">
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody>
                                                        <tr>
                                                            <td class="main">
                                                                <div class="mainbody">
                                                                    <script type="text/javascript">
                                                                        loadScript(jquery_source, function () {
                                                                            loadScriptother("/template/2016/js/bkq_miennam_tinh.js", function () {
                                                                            });
                                                                        });
                                                                    </script>

                                                                    <div id="noidung">
                                                                        <h1 class="pagetitle" th:text="'KẾT QUẢ XỔ SỐ ' + ${cityName}"></h1>
                                                                        <div th:each="item : ${list}">
                                                                            <div class="box_kqxs">
                                                                                <div class="top">
                                                                                    <div class="bkl">
                                                                                        <div class="bkr">
                                                                                            <div class="bkm">
                                                                                                <div class="icon">
                                                                                                    <span class="icon_old"></span>
                                                                                                </div>
                                                                                                <div class="title">
                                                                                                    <a th:href="'/ket-qua-xo-so?cityId=' + item.id" th:text="'KẾT QUẢ XỔ SỐ ' + ${cityName}"></a> - <a th:text="${item.fullDate}"></a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="content">
                                                                                    <table class="bkqtinhmiennam"
                                                                                           width="100%" cellspacing="0"
                                                                                           cellpadding="0" border="0">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td colspan="2" class="">

                                                                                                <div class="thu" width="58">
                                                                                                    <a href="#"></a></div>
                                                                                                <div class="ngay">
                                                                                                    Ngày: <a href="#" th:text="${item.fullDate}"></a>
                                                                                                </div>
                                                                                                <span class="loaive" th:text="${item.type}"></span>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table class="box_kqxs_content">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td class="giaidbl">
                                                                                                            Giải ĐB
                                                                                                        </td>
                                                                                                        <td class="giaidb">
                                                                                                            <div class="giaiSo" th:text="${item.giaiDb}" >
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td class="giai1l">
                                                                                                            Giải nhất
                                                                                                        </td>
                                                                                                        <td class="giai1">
                                                                                                            <div class="giaiSo" th:text="${item.giai1}">
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td class="giai2l">
                                                                                                            Giải nhì
                                                                                                        </td>
                                                                                                        <td class="giai2">
                                                                                                            <div class="giaiSo" th:each="item2 : ${item.giai2}"
                                                                                                                 th:text="${item2}">
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td class="giai3l">
                                                                                                            Giải ba
                                                                                                        </td>
                                                                                                        <td class="giai3">
                                                                                                            <div class="giaiSo" th:each="item2 : ${item.giai3}"
                                                                                                                 th:text="${item2}">
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td class="giai4l">
                                                                                                            Giải tư
                                                                                                        </td>
                                                                                                        <td class="giai4">
                                                                                                            <div class="giaiSo" th:each="item2 : ${item.giai4}"
                                                                                                                 th:text="${item2}">
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr class="">
                                                                                                        <td class="giai5l">
                                                                                                            Giải năm
                                                                                                        </td>
                                                                                                        <td class="giai5">
                                                                                                            <div class="giaiSo" th:each="item2 : ${item.giai5}"
                                                                                                                 th:text="${item2}">
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr class="">
                                                                                                        <td class="giai6l">
                                                                                                            Giải sáu
                                                                                                        </td>
                                                                                                        <td class="giai6">
                                                                                                            <div class="giaiSo" th:each="item2 : ${item.giai6}"
                                                                                                                 th:text="${item2}">
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td class="giai7l">
                                                                                                            Giải bảy
                                                                                                        </td>
                                                                                                        <td class="giai7">
                                                                                                            <div class="giaiSo" th:each="item2 : ${item.giai7}"
                                                                                                                 th:text="${item2}">
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td class="giai8l">
                                                                                                            Giải 8
                                                                                                        </td>
                                                                                                        <td class="giai8">
                                                                                                            <div class="giaiSo" th:each="item2 : ${item.giai8}"
                                                                                                                 th:text="${item2}">
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>

                                                                                <div class="bottom">
                                                                                    <div class="bkl">
                                                                                        <div class="bkr">
                                                                                            <div class="bkm">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="bangkqxs_link">
                                                                            </div>
                                                                            <div class="clear"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dnw-footer">
                    <div class="dnw-footer-l">
                        <div class="dnw-footer-r">
                            <div class="dnw-footer-body">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>
                                            <div>
                                                <div style="text-align: center;">
                                                    &nbsp;
                                                </div>
                                                <p class="dt_txt"
                                                   style="margin: 0px; padding: 0px 0px 20px; border: 0px; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: inherit; font-size: 40px; line-height: 1.5; font-family: Arial, sans-serif, Tahoma, Helvetica, sans-serif; vertical-align: baseline; text-align: center; color: rgb(69, 69, 69); text-transform: uppercase; text-shadow: rgb(163, 163, 163) 2px 2px 2px; letter-spacing: normal; orphans: auto; text-indent: 0px; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);">
                                                    <strong style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;"><span
                                                            class="style8" style="font-size: 48pt;"><span class="style6"
                                                                                                          style="color: rgb(0, 0, 255);">X</span><span
                                                            class="style4" style="color: rgb(255, 0, 0);">Ổ</span> <span
                                                            class="style7" style="color: rgb(0, 128, 0);">S</span><span
                                                            class="style5"
                                                            style="color: rgb(255, 153, 0);">Ố</span>&nbsp;<span
                                                            class="style4" style="color: rgb(255, 0, 0);">V</span><span
                                                            class="style6" style="color: rgb(0, 0, 255);">I</span><span
                                                            class="style5"
                                                            style="color: rgb(255, 153, 0);">Ệ</span><span
                                                            class="style7" style="color: rgb(0, 128, 0);">T</span> <span
                                                            class="style4" style="color: rgb(255, 0, 0);">N</span><span
                                                            class="style6" style="color: rgb(0, 0, 255);">A</span><span
                                                            class="style5"
                                                            style="color: rgb(255, 153, 0);">M</span></span></strong>
                                                </p>
                                                <p class="dt_txt"
                                                   style="margin: 0px; padding: 0px 0px 20px; border: 0px; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: inherit; font-size: 40px; line-height: 1.5; font-family: Arial, sans-serif, Tahoma, Helvetica, sans-serif; vertical-align: baseline; text-align: center; color: rgb(69, 69, 69); text-transform: uppercase; text-shadow: rgb(163, 163, 163) 2px 2px 2px; letter-spacing: normal; orphans: auto; text-indent: 0px; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);">
                                                    <a href="/thong-tin/dieu-khoan-su-dung.html"
                                                       style="font-family: Arial, Verdana, sans-serif; font-size: 12px; font-weight: normal; text-transform: none; widows: 2;">Điều
                                                        khoản sử dụng</a><span
                                                        style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-weight: normal; text-transform: none; widows: 2;">&nbsp;| email: info@xoso.net | xoso.net | doisotrung.net | minhngoc.net</span>
                                                </p>
                                                <div style="text-align: center;">
                                                <span style="font-size:18px;"><a
                                                        href="http://www.xổsố.net">www.xổsố.net</a>&nbsp;|&nbsp;<a
                                                        href="https://www.xoso.net/">www.xoso.net</a>&nbsp;| <a
                                                        href="https://www.doisotrung.net" target="_blank">www.doisotrung.net</a>&nbsp;| <a
                                                        href="https://www.minhngoc.net"
                                                        target="_blank">www.minhngoc.net</a></span></div>
                                                <p class="dt_txt"
                                                   style="margin: 0px; padding: 0px 0px 20px; border: 0px; font-weight: bold; font-stretch: inherit; font-size: 40px; line-height: 1.5; font-family: Arial, sans-serif, Tahoma, Helvetica, sans-serif; vertical-align: baseline; text-align: center; color: rgb(69, 69, 69); text-transform: uppercase; text-shadow: rgb(163, 163, 163) 2px 2px 2px; widows: 1;">
                                                    &nbsp;</p></div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="dailog_bog"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </center> </div>
</div>
<DIV id="adv_left" style=" width:120px; top:0px; left:1px; z-index:100; position: fixed">
</DIV>
<DIV id="adv_right" style="width:120px; top:0px; right:1px; z-index:100; position: fixed">
</DIV>
<SCRIPT language=JavaScript>

    function checkW() {
        if ($(this).width() <= 1244) {
            $("#adv_left").css('display', 'none');
            $("#adv_right").css('display', 'none');
        } else {
            $("#adv_left").css('display', '');
            $("#adv_right").css('display', '');
        }
    }

    loadScript(jquery_source, function () {
        checkW();
        $(this).resize(function (e) {
            checkW();
        });
    });
</SCRIPT>

<script th:src="@{/js/jquery-3.2.1.js}"></script>
<script th:src="@{/js/ion.sound.new.min.js}"></script>
<script th:src="@{/js/library.news_v10.js}"></script>
<script th:src="@{/js/bkq_tructiep_v1.js}"></script>
<script th:src="@{/js/include_4.js}"></script>
</body>
</html>