<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <div class="dnw_header">
        <div class="dnw_header_l">
            <div class="dnw_header_r">
                <div class="h_banner">
                    <div class="logo">
                        <div><p>
                            <a ><img alt="" th:src="@{/images/xoso_2.png}" tyle="width: 280px; height: 100px;"/></a>
                        </p></div>
                    </div>
                    <div class="topmenu">
                        <ul id="topmenu_mien_home">
                            <li><a href="/index.html" class="home">Home</a></li>
                            <li><a href="/xo-so-mien-nam.html">Miền Nam</a></li>
                            <li class="limientrung"><a href="/xo-so-mien-trung.html">Miền Trung</a></li>
                            <li class="limientrung"><a href="/xo-so-mien-bac.html">Miền Bắc</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>